# Ignore the virtual environment
venv/

# Ignore the model directory


# Ignore Python compiled files and cache
__pycache__/
*.py[cod]

# Ignore files related to your IDE (replace with your actual IDE files)
.idea/
*.code-workspace

# Ignore log files
*.log

# Ignore system files
.DS_Store

.safetensors